.main {
  text-align: left;
  margin-top: 65px;
}
.learn__more {
  margin-left: 15px;
}
.heading {
  font-weight: bold;
  font-size: 45px;
}
.heading {
  font-weight: bold;
}
.button__CTA {
  margin-right: 40px;
}
.button__CTA {
  padding: 0 50px;
}

.button__CTA {
  padding: 0 50px;
}
.sample__text {
  font-weight: 600;
}
